*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(
        circle at 20% 100%,
        rgba(184,184,184,0.1) 0%,
        rgba(184,184,184,0.1) 33%,
        rgba(96,96,96,0.1) 33%,
        rgba(96,96,96,0.1) 66%,
        rgba(7,7,7,0.1) 66%,
        rgba(7,7,7,0.1) 99%
    ),
    linear-gradient(40deg, #040a22, #162561, #202e64, #6f7aa6);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    background-color: #fdf3e9;
    width: 100%;
    top: 0;
}
nav img{
    width: 50px;
    background-position: top 10px;
    position: absolute;
    left: 15px;
    top: 10px;
}
nav h1{
    display: inline-block;
    position: absolute;
    background-color: #303030;
    padding: 20px;
    padding-left: 80px;
    text-decoration: none;
    color: azure;
}
ul{
    list-style: none;
    margin-left: 230px;
}
ul li{
    display: inline-block;
    padding-bottom: 20px;
    padding: 24px 20px;
}
ul li a{
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
ul li a:hover{
    border-bottom: 3px solid #023047;
}
main{
    display: grid;
    grid-template-columns: 50% 45%;
    place-items: center;
    gap: 60px;
    min-height: 100vh;
    padding: 20px 60px;
    font-family: 'Manrope', sans-serif;
}
.swiper{
    position: relative;
    width: 400px;
    height: 490px;
}
.swiper-slide{
    position: relative;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.3);
    user-select: none;
    border-radius: 20px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    background: rgba(93, 95, 145, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 0 0 20px 20px;
}
.overlay h1{
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    font-weight: 600;
}
.overlay p{
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    font-weight: 300;
    line-height: 1.3;
}
section{
    max-width: 2400px;
}
section h1{
    font-family: 'Comfortaa', sans-serif;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 36px;
    color: #fff;
}
section p{
    font-size: clamp(1rem, 4vw, 1.1rem);
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
}